@import "../../App.css";

footer {
  padding: 4rem 1rem 2rem;
  background-color: var(--accent1-color);
  color: var(--background-color);
  h2 {
    font-size: clamp(3rem, -2vw + 14vw, 15rem);
    text-transform: uppercase;
    text-align: center;
  }
  hr {
    margin: 1rem 0 2rem;
    border: 1.2px solid var(--background-color);
  }
  .contact-links {
    display: flex;
    gap: 1rem;
    a {
      text-decoration: none;
      color: inherit;
      font-size: 1.8rem;
    }
  }
  .copyright-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10rem;
    font-weight: 600;
    img {
      height: 6rem;
    }
  }
}

@media (max-width: 768px) {
  footer .contact-links {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  footer .contact-links {
    flex-direction: column;
    text-align: center;
    a {
      font-size: 1.2rem;
    }
  }
  .copyright-row {
    margin-top: 5rem;
  }
}
