@import "../../App.css";

footer {
  padding: 3rem 1rem;
  background-color: var(--accent1-color);
  color: var(--background-color);
  h2 {
    font-size: clamp(3rem, -2vw + 14vw, 15rem);
    text-transform: uppercase;
    text-align: center;
  }
  hr {
    margin: 1rem 0 2rem;
    border: 1.2px solid var(--background-color);
  }
  .contact-links {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      font-size: 1.2rem;
      transition: 0.3s;
      &:hover {
        scale: 1.05;
      }
    }
  }
  .copyright-row {
    font-family: var(--font-display);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10rem;
    font-size: 1.5rem;
    font-weight: 600;
    img {
      height: 6rem;
    }
  }
}

@media (max-width: 768px) {
  footer .contact-links {
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
  }
}

@media (max-width: 480px) {
  footer {
    .contact-links {
      a {
        font-size: 1.2rem;
      }
    }
    .copyright-row {
      margin-top: 3rem;
      img {
        height: 4rem;
      }
    }
  }
}
