@import "../../App.css";

.project-display {
  width: 100%;
  height: 40rem;
  background-size: auto 55rem;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.6)
    );
    pointer-events: none;
  }
  .project-name-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: inline-block;
    padding: 1.5rem 2rem;
    border: 0.1rem solid var(--text-color);
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: inherit;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: var(--accent1-color);
      border-color: var(--accent1-color);
      scale: 1.05;
    }
  }
}

.project-details {
  position: absolute;
  width: 100%;
  align-items: flex-end;
  bottom: 1.5rem;
  padding: 0rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  span {
    grid-column: 1 / span 1;
    display: flex;
    gap: 1rem;
    justify-self: flex-start;
    font-size: 1.8rem;
    a {
      text-decoration: none;
      color: inherit;
      transition: 0.3s;
    }
    a:hover {
      cursor: pointer;
      color: var(--accent1-color);
      scale: 1.1;
    }
  }
  .paragraph1,
  .paragraph2 {
    justify-self: center;
    align-self: flex-start;
    text-align: left;
    max-width: 28rem;
  }
  .paragraph1 {
    grid-column: 3 / span 1;
  }
  .paragraph2 {
    grid-column: 4 / span 1;
  }
}

@media (max-width: 768px) {
  .project-display .project-name-box {
    top: 1rem;
    left: 1rem;
    &:hover {
      color: var(--accent1-color);
      border-color: var(--accent1-color);
      scale: 1.05;
    }
  }
  .project-details {
    padding: 0 1rem;
    grid-template-columns: 0.5fr 1fr 1fr;
    span {
      font-size: 1.5rem;
    }
    .paragraph1 {
      grid-column: 2 / span 1;
    }
    .paragraph2 {
      grid-column: 3 / span 1;
    }
    span {
      grid-column: 1 / span 1;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
    }
  }
}

@media (max-width: 480px) {
  .project-display {
    height: 36rem;
    background-size: auto 40rem;
    .project-name-box {
      top: 1rem;
      right: 1rem;
      background-color: var(--background-color);
      padding: 0.5rem 1rem;
      border-radius: 10rem;
      &:hover {
        color: var(--accent1-color);
        border-color: var(--accent1-color);
        scale: 1.05;
      }
    }
  }
  .project-details {
    align-items: flex-end;
    bottom: 1.5rem;
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    span {
      grid-column: 1 / span 1;
      gap: 0.8rem;
      font-size: 1.5rem;
    }
    .paragraph1 {
      grid-column: 2 / span 1;
      font-size: 0.9rem;
    }
    .paragraph2 {
      grid-column: 2 / span 1;
      font-size: 0.9rem;
    }
  }
}
