@import "../../App.css";

.hero-section {
    padding: 8rem 1rem 4rem;
    h1 {
        font-size: 6rem;
        line-height: 6rem;
        font-weight: 900;
    }
    p {
        max-width: 70ch;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
    }
    hr {
        margin: 2rem 0 1rem;
    }
    .bottom-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        margin-top: 2rem;
        .email {
            text-transform: uppercase;
            text-decoration: none;
            color: inherit;
        }
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
        }
    }

}