@import "../../App.css";

.hero-section {
    padding: 4rem 1rem;
    h1 {
        font-size: 6rem;
        line-height: 6rem;
        font-weight: 900;
        max-width: 20ch;
    }
    p {
        max-width: 70ch;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
    }
    .email {
        margin-top: 1rem;
        font-weight: 700;
    }
    ul {
        margin-top: 1rem;
        list-style: none;
        display: flex;
        gap: 1rem;
    }
}