@import "../../App.css";

header {
    display: flex;
    gap: 4rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    .header-logo img {
        max-height: 2rem;
    }
    .header-nav {
        .header-nav-links {
            list-style: none;
            display: flex;
            gap: 1rem;
            li a {
                text-decoration: none;
                color: inherit;
                text-transform: uppercase;
                font-size: 1.5rem;
                &:hover {
                    color: #AFF8A2;
                }
            }
        }
    }

}