@import "../../App.css";

header {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  mix-blend-mode: difference;
  .header-logo img {
    max-height: 3rem;
    mix-blend-mode: difference;
    position: relative;
    z-index: 3;
  }
  .header-nav {
    .header-nav-links {
      list-style: none;
      display: flex;
      gap: 1rem;
      li a {
        text-decoration: none;
        color: var(--text-color);
        text-transform: uppercase;
        font-size: 1.5rem;
        transition: 0.3s;
        &:hover {
          color: var(--accent1-color);
          cursor: pointer;
        }
      }
    }
  }
  .burger-menu {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--text-color);
  }
}

@media (max-width: 480px) {
  header {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    .header-logo img {
      max-height: 2rem;
    }
    .header-nav {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 5rem 1rem 2rem;
      text-align: center;
      background-color: var(--background-color);
      z-index: 2;
    }
    .header-nav.open {
      display: block;
      mix-blend-mode: normal;
    }
    .header-nav-links {
      flex-direction: column;
    }
    .burger-menu {
      display: block;
      font-size: 2rem;
      z-index: 4;
    }
  }
}

body.menu-open header,
body.menu-open header .header-logo img,
body.menu-open header .burger-menu,
body.menu-open header .header-nav {
  mix-blend-mode: normal;
}