@import "../../App.css";

header {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 1rem;
    position: fixed;
    right: 0;
    z-index: 1;
    .header-logo img {
        max-height: 2rem;
    }
    .header-nav {
        .header-nav-links {
            list-style: none;
            display: flex;
            gap: 1rem;
            li a {
                text-decoration: none;
                color: inherit;
                text-transform: uppercase;
                font-size: 1.5rem;
                &:hover {
                    color: var(--accent1-color);
                    cursor: pointer;
                }
            }
        }
    }

}