@import "../../App.css";

.marquee-wrapper {
  .marquee-track {
    display: flex;
    padding-left: 2rem;
    gap: 2rem; 
    width: max-content;
    animation: marquee-animation 16s infinite linear;

    .marquee-text {
      /* text-transform: uppercase; */
      font-size: 3rem;
      font-weight: 800;
      overflow: clip;
    }
  }
}

@keyframes marquee-animation {
  to {
    transform: translateX(-50%);
  }
}
