@font-face {
  font-family: "TT Fors";
  src: url(../src/Assets/TT\ Fors\ Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: ;
  --text-color: ;
  --accent1-color: ;
  --accent2-color: ;
}

body {
  font-family: "TT Fors", sans-serif;
  background-color: #22211E;
  /* color: #D5D4CF; */
  color: #EDF5EC;

}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}