@font-face {
  font-family: "Roslindale";
  src: url(../src/Assets/Roslindale-DisplayCondensedExtraLightItalic-Testing.woff) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaRegular";
  src: url("../src/Assets/HelveticaRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #22211E;
  --text-color: #EDF5EC;
  --accent1-color: #AFF8A2;
  --font-display: "Roslindale", sans-serif;
  --font-basic: "Helvetica", sans-serif;
}

body {
  font-family: var(--font-basic);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h4 {
  font-family: var(--font-display);
}

.projects-container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}